{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.cast.ai/",
      "description": "US endpoint"
    },
    {
      "url": "https://api.eu.cast.ai/",
      "description": "EU endpoint"
    }
  ],
  "info": {
    "title": "CAST.AI API documentation",
    "version": "1.0.0",
    "description": "### Feature maturity indicators (may appear on resources, operations and request/response fields)\n - **(BETA)** - new or experimental features, subject to change\n - **(Deprecated)** - outdated or replaced features (a reason and removal date will be provided in the description)\n"
  },
  "tags": [
    {
      "name": "AuthAPI",
      "description": "User authentication"
    },
    {
      "name": "BillingAPI",
      "description": "utility endpoints for billing integrations"
    },
    {
      "name": "CopilotAPI",
      "description": "Provides the CAST AI Copilot A2A (Agent-to-Agent) protocol endpoints."
    },
    {
      "name": "KimchiPOCAccountAPI"
    },
    {
      "description": "(BETA) Provides the API for the AI Enabler.",
      "name": "AIEnablerAPI"
    },
    {
      "description": "(BETA) Provides the API for AI Enabler playground",
      "name": "AIEnablerPlaygroundAPI"
    },
    {
      "description": "(BETA) Provides the API for the LLM Providers.",
      "name": "AIEnablerProvidersAPI"
    },
    {
      "name": "ProxyConfigAPI"
    },
    {
      "description": "(BETA) Provides the API for the AI Enabler settings.",
      "name": "AIEnablerSettingsAPI"
    },
    {
      "description": "Provides the API to collect and analyze algorithm stats",
      "name": "AlgorithmStatsAPI"
    },
    {
      "name": "AuditAPI"
    },
    {
      "name": "AuditV2API"
    },
    {
      "name": "AuthTokenAPI"
    },
    {
      "description": "Provides the API for CAST AI Autoscaler.",
      "name": "AutoscalerAPI"
    },
    {
      "name": "BillingAPI"
    },
    {
      "name": "ClusterActionsAPI"
    },
    {
      "name": "ComponentsAPI"
    },
    {
      "name": "AllocationGroupAPI"
    },
    {
      "name": "OrganizationOverviewAPI"
    },
    {
      "name": "ClusterReportAPI"
    },
    {
      "name": "ReportConfigurationAPI"
    },
    {
      "name": "IdleResourcesAPI"
    },
    {
      "name": "PlatformImpactReportAPI"
    },
    {
      "name": "NamespaceReportAPI"
    },
    {
      "name": "NodeReportAPI"
    },
    {
      "name": "ReportMetricsAPI"
    },
    {
      "name": "WorkloadReportAPI"
    },
    {
      "name": "DedicatedInstanceAPI"
    },
    {
      "description": "Handles interaction with cluster evictor",
      "name": "EvictorAPI"
    },
    {
      "description": "Manages external cluster resources",
      "name": "ExternalClusterAPI"
    },
    {
      "name": "FeaturesAPI"
    },
    {
      "name": "ImageProviderAPI"
    },
    {
      "name": "InsightsAPI"
    },
    {
      "description": "Handles interaction with cluster autoscaler blacklist",
      "name": "InventoryBlacklistAPI"
    },
    {
      "name": "CommitmentsAPI"
    },
    {
      "name": "DiscountsAPI"
    },
    {
      "name": "InventoryAPI"
    },
    {
      "name": "PricingAPI"
    },
    {
      "name": "NodeConfigurationAPI"
    },
    {
      "description": "Handles interaction with cluster node templates",
      "name": "NodeTemplatesAPI"
    },
    {
      "name": "NotificationAPI"
    },
    {
      "name": "OperationsAPI"
    },
    {
      "name": "PartnersAPI"
    },
    {
      "description": "Handles interaction with pod mutations",
      "name": "PodMutationsAPI"
    },
    {
      "description": "Handles interaction with cluster autoscaling policies",
      "name": "PoliciesAPI"
    },
    {
      "description": "Provides control plane services for DBO product (TBA)",
      "name": "DboAPI"
    },
    {
      "name": "PoliciesServiceAPI"
    },
    {
      "name": "RbacServiceAPI"
    },
    {
      "name": "RuntimeSecurityAPI"
    },
    {
      "description": "Provides management of schedules and jobs for running scheduled rebalancing plans.",
      "name": "ScheduledRebalancingAPI"
    },
    {
      "name": "ServiceAccountsAPI"
    },
    {
      "name": "SSOAPI"
    },
    {
      "name": "UsageAPI"
    },
    {
      "name": "UsersAPI"
    },
    {
      "name": "WorkloadOptimizationAPI"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/auth": {
      "post": {
        "operationId": "login",
        "tags": [
          "AuthAPI"
        ],
        "summary": "Login",
        "description": "Redirect browser to AUTH0 login flow, where user authenticates, browser receives authentication cookie, and then user's browser gets redirected to provided `returnTo` URL. From that point on, all API calls don't require additional headers as HTTP-only cookie will be attached to each request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/returnTo"
          },
          {
            "name": "auth0returnTo",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "optional override for URL to redirect browser from auth0 back to backend, for situations where backend is being reached via proxy"
          },
          {
            "name": "screenHint",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "optional hint for which screen to use when redirecting to authentication pages."
          }
        ],
        "responses": {
          "302": {
            "description": "redirects to login page"
          }
        }
      },
      "get": {
        "operationId": "login-callback",
        "tags": [
          "AuthAPI"
        ],
        "summary": "Login callback",
        "description": "Callback endpoint where login flow returns after authentication succeeds on auth0. Not to be called directly.",
        "responses": {
          "302": {
            "description": "redirects to `returnTo` that was provided with initial auth request."
          }
        }
      }
    },
    "/v1/auth/session": {
      "get": {
        "operationId": "get-session",
        "tags": [
          "AuthAPI"
        ],
        "summary": "Current login session info",
        "description": "As JS has no access to JWT token, this provides a subset of information about user session.",
        "responses": {
          "200": {
            "description": "User is currently logged in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSession"
                }
              }
            }
          },
          "401": {
            "description": "not logged in."
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "operationId": "logout",
        "tags": [
          "AuthAPI"
        ],
        "summary": "Logout",
        "description": "Close login session, remove relevant cookies and redirect browser to provided URL.",
        "parameters": [
          {
            "$ref": "#/components/parameters/returnTo"
          }
        ],
        "responses": {
          "302": {
            "description": "redirects to `returnTo` url."
          }
        }
      }
    },
    "/v1/auth/saml/acs": {
      "post": {
        "operationId": "saml-acs",
        "tags": [
          "AuthAPI"
        ],
        "summary": "SAML flow callback",
        "description": "SAML flow callback invoked after the flow is completed.",
        "responses": {
          "302": {
            "description": "redirects to login page"
          }
        }
      }
    },
    "/v1/billing/sso": {
      "get": {
        "operationId": "billing-sso",
        "tags": [
          "BillingAPI"
        ],
        "parameters": [
          {
            "name": "forwardUrl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Desired destination URL within ChargeBee.\nSee https://apidocs.chargebee.com/docs/api/portal_sessions#create_a_portal_session_forward_url for more details.\n"
          }
        ],
        "summary": "Single sign-on of ChargeBee portal.",
        "description": "Builds URL to use in end-customer's browser session as an iframe. URL will direct to ChargeBee portal session. Can be tailored with specific portal URL. When application/json media type is requested - returns portal session object for generating a chargeBee hosted portal session popup.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSession"
                }
              }
            },
            "description": "customer's chargeBee portal session object."
          },
          "302": {
            "description": "ChargeBee login URL with single-use token in the URL."
          }
        }
      }
    },
    "/v1/billing/subscription": {
      "get": {
        "operationId": "subscription",
        "tags": [
          "BillingAPI"
        ],
        "summary": "Retrieves current user's subscription details.",
        "description": "Retrieves user's subscription details from ChargeBee.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "Subscription details."
          }
        }
      }
    },
    "/v1/billing/subscription/checkout": {
      "get": {
        "operationId": "subscription-checkout",
        "tags": [
          "BillingAPI"
        ],
        "parameters": [
          {
            "name": "plan",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Checkout specific subscription plan."
          }
        ],
        "summary": "Checkout current user's subscription.",
        "description": "Builds URL to use in end-customer's browser session as an iframe. URL will direct to ChargeBee default subscription checkout form. When application/json media type is requested - returns hosted page object for generating checkout popup in end-customer's browser session.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedPage"
                }
              }
            },
            "description": "subscription checkout hosted page object."
          },
          "302": {
            "description": "Subscription checkout form iframe URL."
          },
          "404": {
            "description": "Desired subscription plan was not found."
          }
        }
      }
    },
    "/api/copilot/orchestrator": {
      "post": {
        "operationId": "copilot-orchestrator-send",
        "tags": [
          "CopilotAPI"
        ],
        "summary": "Send a message to the Copilot orchestrator (A2A JSON-RPC)",
        "description": "A2A (Agent-to-Agent) JSON-RPC endpoint for the CAST AI Copilot orchestrator. This endpoint routes queries to appropriate specialized agents based on the message content and context. Uses the A2A protocol (v0.3.0) over JSON-RPC 2.0.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AJsonRpcRequest"
              },
              "examples": {
                "messageSend": {
                  "summary": "Send a message to the orchestrator",
                  "value": {
                    "jsonrpc": "2.0",
                    "method": "message/send",
                    "id": 1,
                    "message": {
                      "messageId": "msg-456",
                      "role": "user",
                      "parts": [
                        {
                          "text": "What clusters are running?"
                        }
                      ],
                      "metadata": {
                        "org_id": "org-789",
                        "timezone": "Europe/Prague"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A2A JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/A2AJsonRpcResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/copilot/orchestrator/context/{context_id}": {
      "get": {
        "operationId": "copilot-orchestrator-get-context",
        "tags": [
          "CopilotAPI"
        ],
        "summary": "Get context status",
        "description": "Retrieves the current status and state of a conversation context.",
        "parameters": [
          {
            "name": "context_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique context identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Context status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Context not found"
          }
        }
      }
    },
    "/api/copilot/orchestrator/context/{context_id}/timeline": {
      "get": {
        "operationId": "copilot-orchestrator-get-context-timeline",
        "tags": [
          "CopilotAPI"
        ],
        "summary": "Get context timeline",
        "description": "Retrieves the timeline of events and messages for a conversation context.",
        "parameters": [
          {
            "name": "context_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique context identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Context timeline retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextTimelineResponse"
                }
              }
            }
          },
          "404": {
            "description": "Context not found"
          }
        }
      }
    },
    "/organization-management/v1/organizations/{organizationId}/permission-groups": {
      "get": {
        "operationId": "RbacServiceAPI_ListPermissionGroups",
        "parameters": [
          {
            "description": "Organization ID to get permission groups for.",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by product type.",
            "in": "query",
            "name": "product",
            "schema": {
              "default": "PRODUCT_TYPE_UNSPECIFIED",
              "enum": [
                "PRODUCT_TYPE_UNSPECIFIED",
                "PRODUCT_TYPE_CASTAI",
                "PRODUCT_TYPE_KIMCHI",
                "PRODUCT_TYPE_BOTH"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.rbac.v1beta1.ListPermissionGroupsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "ListPermissionGroups returns the permission groups available to the calling user\nin a given organization. These groups can be used when creating a PAT.",
        "tags": [
          "RbacServiceAPI"
        ]
      }
    },
    "/pricing/v1/organizations/{organizationId}/clusters/prices": {
      "get": {
        "operationId": "PricingAPI_ListOrganizationClusterPrices",
        "parameters": [
          {
            "description": "Organization id.",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.ListOrganizationClusterPricesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "List hourly unit prices of CPU and memory for CAST Anywhere clusters in organization.",
        "tags": [
          "PricingAPI"
        ]
      }
    },
    "/pricing/v1/organizations/{organizationId}/clusters/{clusterId}/price": {
      "get": {
        "operationId": "PricingAPI_GetClusterPrice",
        "parameters": [
          {
            "description": "Organization id.",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cluster id.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.ClusterPrice"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Get the hourly unit price for the CPU and memory of the CAST Anywhere cluster.",
        "tags": [
          "PricingAPI"
        ]
      }
    },
    "/pricing/v1/organizations/{price.organizationId}/clusters/{price.clusterId}/price": {
      "patch": {
        "operationId": "PricingAPI_UpdateClusterPrice",
        "parameters": [
          {
            "description": "Organization id.",
            "in": "path",
            "name": "price.organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cluster id.",
            "in": "path",
            "name": "price.clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster_pricing_"
              }
            }
          },
          "description": "Cluster pricing.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.ClusterPrice"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Upsert the hourly unit price for the CPU and memory of the CAST Anywhere cluster.",
        "tags": [
          "PricingAPI"
        ],
        "x-codegen-request-body-name": "price"
      },
      "post": {
        "operationId": "PricingAPI_CreateClusterPrice",
        "parameters": [
          {
            "description": "Organization id.",
            "in": "path",
            "name": "price.organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cluster id.",
            "in": "path",
            "name": "price.clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster_pricing_"
              }
            }
          },
          "description": "Cluster pricing.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.ClusterPrice"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Create the hourly unit price for the CPU and memory of the CAST Anywhere cluster.",
        "tags": [
          "PricingAPI"
        ],
        "x-codegen-request-body-name": "price"
      }
    },
    "/savings/v1/organizations/{organizationId}/commitments:batchDelete": {
      "post": {
        "operationId": "CommitmentsAPI_BatchDeleteCommitments",
        "parameters": [
          {
            "description": "Organization ID",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitmentsAPI_BatchDeleteCommitments_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Delete multiple commitments",
        "tags": [
          "CommitmentsAPI"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/savings/v1/organizations/{organizationId}/commitments:batchUpdate": {
      "post": {
        "operationId": "CommitmentsAPI_BatchUpdateCommitments",
        "parameters": [
          {
            "description": "Organization ID",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitmentsAPI_BatchUpdateCommitments_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.BatchUpdateCommitmentsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Update multiple commitments.\nFor commitments with auto-assignment enabled, it will additionally create missing matching assignments.",
        "tags": [
          "CommitmentsAPI"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/savings/v1beta/organizations/{organizationId}/commitments/{commitmentId}:getUsageHistory": {
      "get": {
        "operationId": "CommitmentsAPI_GetCommitmentUsageHistory",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "commitmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "aggregationInterval",
            "required": true,
            "schema": {
              "default": "AGGREGATION_INTERVAL_UNSPECIFIED",
              "enum": [
                "AGGREGATION_INTERVAL_UNSPECIFIED",
                "HOUR",
                "DAY"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by cloud provider. If not specified, data for all clouds will be returned.\n\n - invalid: Invalid.\n - aws: Amazon web services.\n - gcp: Google cloud provider.\n - azure: Microsoft Azure.\n - unknown: Unknown.",
            "in": "query",
            "name": "cloud",
            "schema": {
              "default": "invalid",
              "enum": [
                "invalid",
                "INVALID",
                "aws",
                "AWS",
                "gcp",
                "GCP",
                "azure",
                "AZURE",
                "unknown",
                "UNKNOWN"
              ],
              "type": "string"
            }
          },
          {
            "description": "Deprecated: Use commitment_types instead.",
            "in": "query",
            "name": "commitmentType",
            "schema": {
              "default": "COMMITMENT_TYPE_UNSPECIFIED",
              "enum": [
                "COMMITMENT_TYPE_UNSPECIFIED",
                "RESERVED_INSTANCE",
                "RESOURCE_CUD",
                "SAVINGS_PLAN",
                "CAPACITY_BLOCK",
                "ON_DEMAND_CAPACITY_RESERVATION",
                "FLEX_CUD"
              ],
              "type": "string"
            },
            "deprecated": true
          },
          {
            "description": "Filter by commitment types. If not specified, data for all commitment types will be returned.",
            "explode": true,
            "in": "query",
            "name": "commitmentTypes",
            "schema": {
              "items": {
                "enum": [
                  "COMMITMENT_TYPE_UNSPECIFIED",
                  "RESERVED_INSTANCE",
                  "RESOURCE_CUD",
                  "SAVINGS_PLAN",
                  "CAPACITY_BLOCK",
                  "ON_DEMAND_CAPACITY_RESERVATION",
                  "FLEX_CUD"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.GetCommitmentUsageHistoryResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Get historical data on commitment usage.\nIf commitmentId is \"-\", aggregated usage data for all commitments will be returned.",
        "tags": [
          "CommitmentsAPI"
        ]
      }
    },
    "/savings/v1beta/organizations/{organizationId}/commitments:getAWSReservedInstancesImportCMD": {
      "get": {
        "operationId": "CommitmentsAPI_GetAWSReservedInstancesImportCMD",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "AWS region IDs",
            "explode": true,
            "in": "query",
            "name": "regionIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.GetAWSReservedInstancesImportCMDResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Get AWS commitments (reserved instances) import script",
        "tags": [
          "CommitmentsAPI"
        ]
      }
    },
    "/savings/v1beta/organizations/{organizationId}/commitments:getAWSReservedInstancesImportScript": {
      "get": {
        "operationId": "CommitmentsAPI_GetAWSReservedInstancesImportScript",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "format": "string",
                  "type": "string"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Get a template containing AWS commitment (reserved instances) import script",
        "tags": [
          "CommitmentsAPI"
        ]
      }
    },
    "/savings/v1beta/organizations/{organizationId}/commitments:importAWSReservedInstances": {
      "post": {
        "operationId": "CommitmentsAPI_ImportAWSReservedInstances",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Behaviour\n\n - OVERWRITE: Overwrite all existing commitments",
            "in": "query",
            "name": "behaviour",
            "schema": {
              "default": "BEHAVIOUR_UNSPECIFIED",
              "enum": [
                "BEHAVIOUR_UNSPECIFIED",
                "OVERWRITE"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/castai.inventory.v1beta1.AWSRegionReservedInstances"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Import AWS commitments (reserved instances)",
        "tags": [
          "CommitmentsAPI"
        ],
        "x-codegen-request-body-name": "regionReservedInstances"
      }
    },
    "/v1/agent.sh": {
      "get": {
        "description": "All parameters are optional. If no parameters are provided, then the script will default to EKS configuration.\n\nThe returned install script can be run in your terminal to install the\n[CASTAI Kubernetes agent](https://github.com/castai/k8s-agent). The script can also be used to update an already\nrunning agent in your cluster.\n\nThe agent supports automatic discovery of cluster properties. However, if you specify at least one of the\nproperties, then all properties for that provider must be specified.\n\nOpenShift (ROSA) supports autodiscovery so choosing it does not require any OpenShift parameters. However, autodiscovery\ncan be turned off by providing the properties explicitly. When any of the OpenShift parameters are provided, then\nall OpenShift parameters must be provided, with the exception of `openshift.runAsUser`, `openshift.runAsGroup` and `openshift.fsGroup`,\nwhich are optional and can be specified without the other parameters.",
        "operationId": "AutoscalerAPI_GetAgentScript",
        "parameters": [
          {
            "description": "AWS region of your EKS cluster.",
            "in": "query",
            "name": "eks.region",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Your AWS account id. Can be retrieved by executing `aws sts get-caller-identity`.",
            "in": "query",
            "name": "eks.accountId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of your EKS cluster.",
            "in": "query",
            "name": "eks.clusterName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "GCP region of your GKE cluster.",
            "in": "query",
            "name": "gke.region",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "GCP project id in which your GKE cluster is created.",
            "in": "query",
            "name": "gke.projectId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of your GKE cluster.",
            "in": "query",
            "name": "gke.clusterName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Location of your GKE cluster.",
            "in": "query",
            "name": "gke.location",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cluster to be connected via GCP Private Service Connect",
            "in": "query",
            "name": "gke.psc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Provider of the cluster.",
            "in": "query",
            "name": "provider",
            "schema": {
              "default": "invalid_provider",
              "enum": [
                "invalid_provider",
                "eks",
                "gke",
                "aks",
                "openshift",
                "kops",
                "anywhere"
              ],
              "type": "string"
            }
          },
          {
            "description": "The Cloud Service Provider (CSP) of your kOps cluster.\n\nPossible values are: `aws`, `gcp`.\n\n - invalid: Invalid.\n - aws: Amazon web services.\n - gcp: Google cloud provider.\n - azure: Microsoft Azure.\n - unknown: Unknown.",
            "in": "query",
            "name": "kops.csp",
            "schema": {
              "default": "invalid",
              "enum": [
                "invalid",
                "INVALID",
                "aws",
                "AWS",
                "gcp",
                "GCP",
                "azure",
                "AZURE",
                "unknown",
                "UNKNOWN"
              ],
              "type": "string"
            }
          },
          {
            "description": "The region of your kOps cluster. Region is CSP specific.",
            "in": "query",
            "name": "kops.region",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of your kOps cluster.",
            "in": "query",
            "name": "kops.clusterName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The kOps cluster state store. Only remote S3 state is supported at the moment.",
            "in": "query",
            "name": "kops.stateStore",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Azure location of your AKS cluster.",
            "in": "query",
            "name": "aks.location",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Azure resource group where AKS nodes are deployed.",
            "in": "query",
            "name": "aks.nodeResourceGroup",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Azure account subscription id.",
            "in": "query",
            "name": "aks.subscriptionId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Cloud Service Provider (CSP) of your OpenShift cluster.\n\nPossible values are: `aws`.\n\n - invalid: Invalid.\n - aws: Amazon web services.\n - gcp: Google cloud provider.\n - azure: Microsoft Azure.\n - unknown: Unknown.",
            "in": "query",
            "name": "openshift.csp",
            "schema": {
              "default": "invalid",
              "enum": [
                "invalid",
                "INVALID",
                "aws",
                "AWS",
                "gcp",
                "GCP",
                "azure",
                "AZURE",
                "unknown",
                "UNKNOWN"
              ],
              "type": "string"
            }
          },
          {
            "description": "The region of your OpenShift cluster. Region is CSP specific.",
            "in": "query",
            "name": "openshift.region",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of your OpenShift cluster.",
            "in": "query",
            "name": "openshift.clusterName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The OpenShift cluster ID. It can be found in the ClusterVersion object.\n\n[Link to docs](https://docs.openshift.com/container-platform/4.8/support/gathering-cluster-data.html#support-get-cluster-id_gathering-cluster-data).",
            "in": "query",
            "name": "openshift.internalId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The uid of the user that runs the agent pod.",
            "in": "query",
            "name": "openshift.runAsUser",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The gid of the user that runs the agent pod.",
            "in": "query",
            "name": "openshift.runAsGroup",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The gid of the user that owns the agent pod's volumes.",
            "in": "query",
            "name": "openshift.fsGroup",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of your cluster.",
            "in": "query",
            "name": "anywhere.clusterName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "example": "curl -H \"Authorization: Token redacted\" \"https://api.cast.ai/v1/agent.yaml?provider=eks\" | kubectl apply -f -"
              }
            },
            "description": "The agent install script."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request. Additional details returned in the error response."
          }
        },
        "summary": "Get a Kubernetes agent install script",
        "tags": [
          "AutoscalerAPI"
        ]
      }
    },
    "/v1/audit": {
      "get": {
        "operationId": "AuditAPI_ListAuditEntries",
        "parameters": [
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "the cluster id to filter by",
            "in": "query",
            "name": "clusterId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "from_date is a timestamp to filter audits from",
            "in": "query",
            "name": "fromDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "to_date is a timestamp to filter audits to",
            "in": "query",
            "name": "toDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "labels is a map of labels to filter audits by\n\nThis is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "name": "labels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "operation is a string to filter audits by",
            "in": "query",
            "name": "operation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "initiated_by_id is a string to filter audits by ID of the user who initiated the operation",
            "in": "query",
            "name": "initiatedById",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "initiated_by_email is a string to filter audits by email of the user who initiated the operation",
            "in": "query",
            "name": "initiatedByEmail",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.audit.v1beta1.ListAuditEntriesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "ListAuditEntries returns audit entries for given cluster.",
        "tags": [
          "AuditAPI"
        ]
      }
    },
    "/v1/audit-events": {
      "get": {
        "operationId": "AuditAPI_ListAuditEvents",
        "parameters": [
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The unique cluster identifier.",
            "in": "query",
            "name": "clusterId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The date and time to query from.",
            "in": "query",
            "name": "fromDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "The maximum date and time to query to.",
            "in": "query",
            "name": "toDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "name": "labels",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The audit entry operation.",
            "in": "query",
            "name": "operation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique identifier of the user who initiated the operation.",
            "in": "query",
            "name": "initiatedById",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "E-mail of the user who initiated the operation.",
            "in": "query",
            "name": "initiatedByEmail",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.audit.v1beta1.ListAuditEventsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "ListAuditEvents is the second version of the audit events endpoint.",
        "tags": [
          "AuditAPI"
        ]
      }
    },
    "/v1/audit-events/{id}": {
      "get": {
        "operationId": "AuditAPI_GetAuditEvent",
        "parameters": [
          {
            "description": "The audit entry record ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The date and time the audit event record was created.",
            "in": "query",
            "name": "time",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.audit.v1beta1.AuditEntry"
                }
              }
            },
            "description": "Audit entry information."
          }
        },
        "summary": "GetAuditEvent returns a specific audit event.",
        "tags": [
          "AuditAPI"
        ]
      }
    },
    "/v1/auth/tokens": {
      "get": {
        "operationId": "AuthTokenAPI_ListAuthTokens",
        "parameters": [
          {
            "description": "User id to filter by, if this is set we will only return tokens that have this user id.",
            "in": "query",
            "name": "userId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Organizations controls whether to return tokens for all organizations the user belongs to or only the current one.\n\n - ORGANIZATIONS_UNSPECIFIED: ORGANIZATIONS_UNSPECIFIED is the default value and means only current organization.\n - ALL: ALL means all organizations the user belongs to.",
            "in": "query",
            "name": "organizations",
            "schema": {
              "default": "ORGANIZATIONS_UNSPECIFIED",
              "enum": [
                "ORGANIZATIONS_UNSPECIFIED",
                "ALL"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.authtoken.v1beta1.ListAuthTokensResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Lists user auth tokens.",
        "tags": [
          "AuthTokenAPI"
        ]
      },
      "post": {
        "operationId": "AuthTokenAPI_CreateAuthToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/castai.authtoken.v1beta1.AuthToken"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.authtoken.v1beta1.AuthToken"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "CreateAuthToken creates a new api auth token.",
        "tags": [
          "AuthTokenAPI"
        ],
        "x-codegen-request-body-name": "item"
      }
    },
    "/v1/auth/tokens/{id}": {
      "delete": {
        "operationId": "AuthTokenAPI_DeleteAuthToken",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.authtoken.v1beta1.DeleteAuthTokenResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Deletes auth token.",
        "tags": [
          "AuthTokenAPI"
        ]
      },
      "get": {
        "operationId": "AuthTokenAPI_GetAuthToken",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.authtoken.v1beta1.AuthToken"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Retrieves the specified auth token.",
        "tags": [
          "AuthTokenAPI"
        ]
      },
      "post": {
        "operationId": "AuthTokenAPI_UpdateAuthToken",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/castai.authtoken.v1beta1.AuthTokenUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/castai.authtoken.v1beta1.AuthToken"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Updates the specified auth token.",
        "tags": [
          "AuthTokenAPI"
        ],
        "x-codegen-request-body-name": "item"
      }
    },
    "/v1/billing/enterprise/platform-usage-detail": {
      "get": {
        "operationId": "BillingAPI_GetEnterprisePlatformUsageDetail",
        "parameters": [
          {
            "description": "Start date (inclusive), format: YYYY-MM-DD.",
            "in": "query",
            "name": "period.from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date (inclusive), format: YYYY-MM-DD.",
            "in": "query",
            "name": "period.to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Feature name to get detail for (e.g., \"phase2\", \"woop\").",
            "in": "query",
            "name": "feature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.v1.GetEnterprisePlatformUsageDetailResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "GetEnterprisePlatformUsageDetail returns detailed per-organization usage breakdown\nfor a specific feature across all child organizations of an enterprise organization.",
        "tags": [
          "BillingAPI"
        ]
      }
    },
    "/v1/billing/enterprise/platform-usage-report": {
      "get": {
        "operationId": "BillingAPI_GetEnterprisePlatformUsageReport",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.v1.GetEnterprisePlatformUsageReportResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "GetEnterprisePlatformUsageReport returns usage report broken down by feature\nacross all child organizations for an enterprise organization (current month).",
        "tags": [
          "BillingAPI"
        ]
      }
    },
    "/v1/billing/platform-usage-detail": {
      "get": {
        "operationId": "BillingAPI_GetPlatformUsageDetail",
        "parameters": [
          {
            "description": "Start date (inclusive), format: YYYY-MM-DD.",
            "in": "query",
            "name": "period.from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End date (inclusive), format: YYYY-MM-DD.",
            "in": "query",
            "name": "period.to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Feature name to get detail for (e.g., \"phase2\", \"woop\").",
            "in": "query",
            "name": "feature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.v1.GetPlatformUsageDetailResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "GetPlatformUsageDetail returns detailed per-cluster usage breakdown for a specific feature.",
        "tags": [
          "BillingAPI"
        ]
      }
    },
    "/v1/billing/platform-usage-report": {
      "get": {
        "operationId": "BillingAPI_GetPlatformUsageReport",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.v1.GetPlatformUsageReportResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "GetPlatformUsageReport returns usage report broken down by feature for an organization (current month).",
        "tags": [
          "BillingAPI"
        ]
      }
    },
    "/v1/billing/subscription-details/{organizationId}": {
      "get": {
        "operationId": "BillingAPI_GetSubscriptionDetails",
        "parameters": [
          {
            "description": "Organization ID.",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billing.v1.GetSubscriptionDetailsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "GetSubscriptionDetails returns subscription details for the given organization.",
        "tags": [
          "BillingAPI"
        ]
      }
    },
    "/v1/clusters/{clusterId}/components/{component}/audit": {
      "post": {
        "operationId": "ComponentsAPI_IngestAudit",
        "parameters": [
          {
            "description": "The ID of the cluster the component is running in.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the source component for the events.",
            "in": "path",
            "name": "component",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/components.v1.AuditEntries"
              }
            }
          },
          "description": "The entries to ingest.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/components.v1.IngestAuditResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "IngestEvents accepts audit events from CAST AI components running outside of the mother-ship.",
        "tags": [
          "ComponentsAPI"
        ],
        "x-codegen-request-body-name": "entries"
      }
    },
    "/v1/clusters/{clusterId}/components/{component}/audit/v2": {
      "post": {
        "operationId": "ComponentsAPI_IngestAuditV2",
        "parameters": [
          {
            "description": "The ID of the cluster the component is running in.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the source component for the events.",
            "in": "path",
            "name": "component",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/castai.audit.v2.AuditEvent"
                },
                "type": "array"
              }
            }
          },
          "description": "The v2 audit events to ingest.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/components.v1.IngestAuditV2Response"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "IngestAuditV2 accepts v2 audit events from CAST AI components running outside of the mother-ship.\nEvents are recorded through the lib/audit SDK, which validates them and\npublishes to the audit.created.v2 MQ topic without v1 conversion.",
        "tags": [
          "ComponentsAPI"
        ],
        "x-codegen-request-body-name": "entries"
      }
    },
    "/v1/clusters/{clusterId}/components/{component}/events": {
      "post": {
        "operationId": "ComponentsAPI_IngestEvents",
        "parameters": [
          {
            "description": "The ID of the cluster the component is running in.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the source component for the events.",
            "in": "path",
            "name": "component",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/components.v1.ComponentEvents"
              }
            }
          },
          "description": "The events to ingest.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/components.v1.IngestEventsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "IngestEvents accepts events from CAST AI components running outside of the mother-ship.",
        "tags": [
          "ComponentsAPI"
        ],
        "x-codegen-request-body-name": "events"
      }
    },
    "/v1/clusters/{clusterId}/components/{component}/logs": {
      "post": {
        "operationId": "ComponentsAPI_IngestLogs",
        "parameters": [
          {
            "description": "The ID of the cluster the component is running in.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the source component for the logs.",
            "in": "path",
            "name": "component",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/components.v1.ComponentLogs"
              }
            }
          },
          "description": "The logs to ingest.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/components.v1.IngestLogsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "IngestLogs accepts logs from CAST AI components running outside of the mother-ship.",
        "tags": [
          "ComponentsAPI"
        ],
        "x-codegen-request-body-name": "logs"
      }
    },
    "/v1/clusters/{clusterId}/components/{component}/metrics": {
      "post": {
        "operationId": "ComponentsAPI_IngestMetrics",
        "parameters": [
          {
            "description": "The ID of the cluster the component is running in.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the source component for the logs.",
            "in": "path",
            "name": "component",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/prometheus.WriteRequest"
              }
            }
          },
          "description": "The request is a WriteRequest prometheus known spec https://github.com/prometheus/prometheus/blob/main/prompb/remote.proto.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/components.v1.IngestMetricsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "IngestMetrics accepts prometheus metrics from components running outside of the mother-ship.",
        "tags": [
          "ComponentsAPI"
        ],
        "x-codegen-request-body-name": "request"
      }
    },
    "/v1/cost-reports/allocation-group-costs": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupCostTimedSummaries",
        "parameters": [
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Allocation group ID. Leave empty for the full list.",
            "in": "query",
            "name": "groupId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether the costs should include costs of the unallocated nodes resources, fairly distributed to workloads based on requested workload resources.",
            "in": "query",
            "name": "includeIdleResourceCosts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupCostTimedSummariesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation group timed cost summaries.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-group-summaries": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupCostSummaries",
        "parameters": [
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Allocation group ID. Leave empty for the full list.",
            "in": "query",
            "name": "groupId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether the costs should include costs of the unallocated nodes resources, fairly distributed to workloads based on requested workload resources.",
            "in": "query",
            "name": "includeIdleResourceCosts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupCostSummariesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation group cost summaries.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-group-totals": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupTotalCostTimed",
        "parameters": [
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether the costs should include costs of the unallocated nodes resources, fairly distributed to workloads based on requested workload resources.",
            "in": "query",
            "name": "includeIdleResourceCosts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupTotalCostTimedResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation groups timed total cost only.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups": {
      "get": {
        "operationId": "AllocationGroupAPI_ListAllocationGroups",
        "parameters": [
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.ListAllocationGroupsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Lists allocation groups.",
        "tags": [
          "AllocationGroupAPI"
        ]
      },
      "post": {
        "operationId": "AllocationGroupAPI_CreateAllocationGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/costreport.v1beta1.AllocationGroupDetails"
              }
            }
          },
          "description": "Allocation group details",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.AllocationGroup"
                }
              }
            },
            "description": "Allocation group details"
          }
        },
        "summary": "Creates an allocation group for custom report.",
        "tags": [
          "AllocationGroupAPI"
        ],
        "x-codegen-request-body-name": "allocationGroup"
      }
    },
    "/v1/cost-reports/allocation-groups/datatransfer-costs/summary": {
      "get": {
        "operationId": "AllocationGroupAPI_GetCostAllocationGroupDataTransferSummary",
        "parameters": [
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetCostAllocationGroupDataTransferSummaryResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation group summary for datatransfer costs.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups/efficiency/summary": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupEfficiencySummary",
        "parameters": [
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupEfficiencySummaryResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation group efficiency summary.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups/{groupId}/datatransfer-costs/workloads": {
      "get": {
        "operationId": "AllocationGroupAPI_GetCostAllocationGroupDataTransferWorkloads",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetCostAllocationGroupDataTransferWorkloadsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets workloads of datatransfer cost allocation group.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups/{groupId}/workload-costs": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupWorkloadCosts",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the field you want to sort",
            "in": "query",
            "name": "sort.field",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort order, possible values ASC or DESC, if not provided asc is the default\n\n - ASC: ASC\n - asc: desc\n - DESC: ASC\n - desc: desc",
            "in": "query",
            "name": "sort.order",
            "schema": {
              "default": "ASC",
              "enum": [
                "ASC",
                "asc",
                "DESC",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether the costs should include costs of the unallocated nodes resources, fairly distributed to workloads based on requested workload resources.",
            "in": "query",
            "name": "includeIdleResourceCosts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupWorkloadCostsResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets workloads of cost allocation group.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups/{groupId}/workload-efficiency": {
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroupWorkloadsEfficiency",
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Cluster IDs for filtering. Leave empty for the full list.",
            "explode": true,
            "in": "query",
            "name": "clusterIds",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "page.limit",
            "schema": {
              "format": "uint64",
              "type": "string"
            }
          },
          {
            "description": "Cursor that defines token indicating where to start the next page.\nEmpty value indicates to start from beginning of the dataset.",
            "in": "query",
            "name": "page.cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the field you want to sort",
            "in": "query",
            "name": "sort.field",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort order, possible values ASC or DESC, if not provided asc is the default\n\n - ASC: ASC\n - asc: desc\n - DESC: ASC\n - desc: desc",
            "in": "query",
            "name": "sort.order",
            "schema": {
              "default": "ASC",
              "enum": [
                "ASC",
                "asc",
                "DESC",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether to use listing prices instead of actual prices for cost calculations.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetAllocationGroupWorkloadsEfficiencyResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets allocation group efficiency workloads.",
        "tags": [
          "AllocationGroupAPI"
        ]
      }
    },
    "/v1/cost-reports/allocation-groups/{id}": {
      "delete": {
        "operationId": "AllocationGroupAPI_DeleteAllocationGroup",
        "parameters": [
          {
            "description": "ID of the allocation group",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.DeleteAllocationGroupResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Deletes an allocation group.",
        "tags": [
          "AllocationGroupAPI"
        ]
      },
      "get": {
        "operationId": "AllocationGroupAPI_GetAllocationGroup",
        "parameters": [
          {
            "description": "ID of the allocation group",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.AllocationGroup"
                }
              }
            },
            "description": "Allocation group"
          }
        },
        "summary": "Get allocation group.",
        "tags": [
          "AllocationGroupAPI"
        ]
      },
      "put": {
        "operationId": "AllocationGroupAPI_UpdateAllocationGroup",
        "parameters": [
          {
            "description": "ID of the allocation group",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/costreport.v1beta1.AllocationGroupDetails"
              }
            }
          },
          "description": "Allocation group details",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.AllocationGroup"
                }
              }
            },
            "description": "Allocation group details"
          }
        },
        "summary": "Updates an allocation group for custom report.",
        "tags": [
          "AllocationGroupAPI"
        ],
        "x-codegen-request-body-name": "allocationGroup"
      }
    },
    "/v1/cost-reports/clusters/active": {
      "post": {
        "operationId": "ClusterReportAPI_GetActiveClusters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/costreport.v1beta1.ActiveClustersFilter"
              }
            }
          },
          "description": "Filter specifying the time range.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetActiveClustersResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Returns the list of clusters that have metrics data in the given time range.",
        "tags": [
          "ClusterReportAPI"
        ],
        "x-codegen-request-body-name": "filter"
      }
    },
    "/v1/cost-reports/clusters/{clusterId}/cost": {
      "get": {
        "operationId": "ClusterReportAPI_GetClusterCostReport",
        "parameters": [
          {
            "description": "ID of the cluster.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Aggregate items in specified interval steps.",
            "in": "query",
            "name": "stepSeconds",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Use listing prices instead of discounted prices.",
            "in": "query",
            "name": "useListingPrices",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetClusterCostReportResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets cluster cost report data.",
        "tags": [
          "ClusterReportAPI"
        ]
      }
    },
    "/v1/cost-reports/clusters/{clusterId}/cost-anomalies": {
      "get": {
        "operationId": "ClusterReportAPI_GetCostAnomalies",
        "parameters": [
          {
            "description": "ID of the cluster.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items by metric type.",
            "explode": true,
            "in": "query",
            "name": "metrics",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/costreport.v1beta1.GetCostAnomaliesResponse"
                }
              }
            },
            "description": "A successful response."
          }
        },
        "summary": "Gets the all the detected cost anomalies for a cluster in a given time period.",
        "tags": [
          "ClusterReportAPI"
        ]
      }
    },
    "/v1/cost-reports/clusters/{clusterId}/datatransfer-costs": {
      "get": {
        "operationId": "WorkloadReportAPI_GetWorkloadDataTransferCost",
        "parameters": [
          {
            "description": "ID of the cluster.",
            "in": "path",
            "name": "clusterId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter items to include from specified time.",
            "in": "query",
            "name": "startTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter items to include up to specified time.",
            "in": "query",
            "name": "endTime",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Aggregate items in specified interval steps.",
            "in": "query",
            "name": "stepSeconds",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "explode": true,
            "in": "query",
            "name": "filter.workloadNames",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "filter.labelsOperator",
            "schema": {
              "default": "OR",
              "enum": [
                "OR",
                "AND"
              ],
              "type": "string"
[...]
